<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


    <style>
        a {
            text-decoration: none !important;

        }

        body {
            /* background-color: green; */

            background-image: url('Ybulb.jpg');
            background-repeat: no-repeat;
            background-size: cover !important;
            /* background-position: 20% 20%; */


        }

        .welcomeText {

            text-align: center;
            font-family: cursive;
            font-weight: 900;
            font-weight: bolder;
            font-stretch: wider;
            font-size: 100;
        }

        span {
            color: white;
        }

        .list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
        }

        .items {
            float: left;
        }

        .items a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .items a:hover:not(.active) {
            background-color: #111;

        }

        .active {
            background-color: transparent;
        }

        .navItems {
            margin-left: 10%;
        }
    </style>

    <title>MainPage</title>
</head>

<body>

    <!-- Navigation bar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CCFFCC;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" class="collapse" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>
            </ul>


        </div>
    </nav> -->

    <ul class="list">
        <div class="navItems">

            <li class="items"><a href="/">
                    <span>

                        Home
                    </span>
                </a></li>
            <li class="items"><a href="/play">
                    <span>

                        Play
                    </span>
                </a></li>


            <div style="margin-right: 10%;">


                <li class="items"><a href="/stat">
                        <span>

                            Stats
                        </span>
                    </a></li>
                <li class="items" style="float:right"><a class="active" id="lout" href="/logout">Logout</a>
                </li>
                <li class="items" style="float: right;">
                    <a class="active" id="lin" href="/login">Login</a>
                </li>

            </div>
        </div>
    </ul>


</body>

</html>