<!-- Page Content -->
<%- include ('partials/header') %>
<div class="container">

    <div class="row" style="margin-top: 5%; margin-right: 10%;">


        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4" style="color: white; text-decoration: lightgray;">ColourBreak</h1>


            <a href="/colorBreak" class="btn btn-danger" style=" float: right; width: 50px;">Play</a>

            <!-- Author -->

            <hr>

            <!-- Date/Time -->
            <p>Posted on June 7, 2019 at 12:00 PM</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="FastFeed.png" alt="" style="width: 900px; height: 300px;">

            <hr>

            <!-- Post Content -->



            <p style="color: white;">
                Web game to test reflexes or response time of the user based on the final score.
                The game will start with a ball of a certain colour. User have to control the ball
                in such a way that it collides the tile of the same colour. After every collision,
                the ball will change its colour to a random colour. The game will be over when the ball
                collides with the tile of a different colour. The final score will be calculated on the
                bases of playing time.


            </p>

            <p>

            </p>


            <hr>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->