<!-- Page Content -->
<%- include ('partials/header') %>
<div class="container">

    <div class="row" style="margin-top: 5%; margin-right: 10%;">


        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4" style="color: white; text-decoration: lightgray;">Fast Feed</h1>


            <a href="/fastfeed" class="btn btn-danger" style=" float: right; width: 50px;">Play</a>

            <!-- Author -->

            <hr>

            <!-- Date/Time -->
            <p>Posted on June 7, 2019 at 12:00 PM</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="FastFeed.png" alt="" style="width: 900px; height: 300px;">

            <hr>

            <!-- Post Content -->



            <p style="color: white;">
                Web game to test the processing speed of the user by creating a
                burger with right ingredients moving at a speed on conveyor belt.
                Score will keep on incrementing as the user creates burger with correct
                ingredient order. Else, the customer will puke and game will over.
            </p>

            <p>

            </p>


            <hr>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->